@import '../../variables';

.trail-item {
  display: flex;
  justify-content: space-between;
  margin: 20px;

  .item-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 0 5% auto;
  }

  .name-length-span {
    display: flex;
    justify-content: space-between;
  }

  .trail-img {
    height: 100%;
  }

  p {
    margin: 5px 20px;
  }

  .rating {
    color: $darkgold;
  }

}

@media #{$below-desktop} {
  .trail-item {

    .item-info {
      flex: 1;
      display: flex;
      flex-direction: column;
      text-align: left;
      margin: 0 5% auto;
    }
  
    .name-length-span {
      display: block;
    }

    .trail-img {
      margin: 10px;
      align-self: center;
    }
  }
}


@media #{$below-mobile} {
  .trail-item {
    flex-wrap: wrap;
    margin: 0 auto;

    .trail-img {
      width: 70%;
      margin: 20px auto;
    }

    .name-length-span {
      width: auto;
    }
  }
}