@import '../../variables';

header {
  width: 100%;

  span {
    height: 150px;
    font-family: $titleFont;
    font-size: 72px;
    font-weight: 700;
    letter-spacing: -3px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  nav {
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 30px;
    border-bottom: 1px solid $gold;
  }
}
