@import '../../variables';

header {
  width: 100%;

  .title {
    font-family: $titleFont;
    font-size: 3em;
    font-weight: 700;
    text-align: center;
    color: $green;
  }

  nav {
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 25px;
    border-bottom: 1px solid $oliveGreen;
  }
}

@media #{$below-mobile} {
  header nav {
    font-size: 0.95em;
    padding-bottom: 20px;
    width: 80%;
  }
}

