@import '/variables.scss';

.App {
  text-align: center;
}

body {
  margin: 0;
  background-color: $bg-color;
  font-family: $mainFont;
}

a {
  color: $darkgold;
  text-decoration: none;
  font-weight: bold;
}

.container {
  padding-top: 30px;
  margin: 0 20% auto;
}

.section-container {
  background-color: #fffcf5;
  border-radius: 1px solid white;
  border-radius: 10px;
  padding: 30px;
}

@media #{$below-desktop} {
  .container {
    margin: 0 10% auto;
  }
}