// COLORS
$bg-color: #fbf5e9;

$oliveGreen: #cac659;
$green: #8db44d;
$gold: #f0ca5b;
$darkgold: #dbad29;
$orange: #d6560a;

//FONTS
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

$titleFont: 'Dancing Script', cursive;
$subtitleFont: 'Amatic SC', cursive;
$mainFont: 'Raleway', sans-serif;
